.projectContainer {
  margin-top: 5px;
  height: 72vh;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  overflow-y: auto;
}

.card_wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 160px;
}

.snapshot {
  width: 100%;
  height: 150px;
  border: 2px solid;
  border-radius: 5px;
}

.demoLink {
  color: #1d4350;
  font-family: "Abel", sans-serif;
}

.repoLink {
  color: #1d4350;
  font-family: "Abel", sans-serif;
}

.projectDesc {
  font-size: x-small;
}

.projectTitle {
  font-size: small;
}

.projectIndex {
  padding-top: 5px;
  padding-left: 10px;
  font-size: small;
}

.footerContainer {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.filterObj {
  color: lightslategray;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Abel", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.sortBy {
  color: lightslategray;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Abel", sans-serif;
  cursor: pointer;
}

.filterIcon {
  width: 50px;
  height: 50px;
}
