body {
  background-image: linear-gradient(to top, #274046, #ffffff);
  background-attachment: fixed;
}

.container {
  padding-top: 50px;
}

.row {
  height: 93vh;
}

.app_sidebar {
  background-color: whitesmoke;
  height: 100%;
  padding: 25px 15px;
  box-shadow: 0 0 10px skyblue;
}

.app_main {
  background-color: whitesmoke;
  height: 100%;
  border-radius: 2%;
  padding: 25px 15px;
  box-shadow: 0 0 10px skyblue;
}
