.skillCard {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.skillCardIcon {
  width: 40px;
  height: 40px;
}

.skillCardBody {
  margin-left: 15px;
}

.skillCardTitle {
}

.skillCardDesc {
  margin: 0;
  font-size: 0.9rem;
  color: #6e7e91;
}
