/*Main CSS for the Nav bar*/

.nav-link{
    
    width: 100%;
}
.navbar{
    border-radius: 10px;
}

.navbar img{
    width:100px;
}

/*font*/
.col-s-9 {
    font-family: 'Open Sans', sans-serif;
}
.col-s-12{
    font-family: 'Open Sans', sans-serif;
}
h6 {
    font-weight: bold;
}
.card-title{
    font-size: small
}

.card-text{
    font-size: x-small;
}

.card-link{
    font-size: x-small;
}

#projectTile h6{
    padding-bottom: 1%;
}
/*font*/

.card img{
    width: 250px;
    height: 150px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.card{
    height: 340px;
}





/*Skill bar*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
#skillbarContainer {
  width: 100%;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} 
.js {width: 70%; background-color: #4CAF50;} 
.sql {width: 60%; background-color: #2196F3;} 
.python {width: 40%; background-color: #f4c136;} 


.tech{
    text-align: center;
}

#projectTile{
    margin-top: 5%;
}
#projectRow{
    margin-top: 2%;
}

/*footer*/
.footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    border-radius: 10px;
    opacity: 0.8;
}

.footer > .container{
    padding-right: 15px;
    padding-left: 15px;
}



#footer-images ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none
  }

.pull-left img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

.pull-center img{
    padding-top: 5px;
    padding-right: 20px;
    max-width: 35px;
    height: auto;
}

.pull-right img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

/*phone popup*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }



/*for smaller than 450*/
@media only screen and (max-width: 450px) {
    .jumbotron{
        width:100%;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-s-3 img {
        max-width: 100%;
        height: auto;
        align-self: center;
    
    }
    .col-s-9{
        width: 100%;
        padding-left: 1%;
    }
    .col-s-9 h6{
        padding-top: 1%;
        padding-left: 3%;
    }

    .col-s-3{
        width:100%;
        align-self: center;
    }


    .col-s-12{
        width: 100%;
    }
    .col-s-12{
        padding-left: 1%;
        margin-top: 0.5%;
    }
    .col-s-12 h6{
        padding-left: 5%;
    }

    #me{
        width:100%;
    }


    div p{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    body {
        width:100%;
        background-color: black;
      }


    /*skill icon*/
    .skillsicon{
        width: 65px;
        height: 75px;
        margin-left: 6%;
        
    }

    .col-sm-12{
        padding-left: 10%;
        width:90%;
    }



}

 /* For 751px to 1199px*/
@media only screen and (min-width: 451px) {
/*
    [class*="col-"] {
      width: 100%;
    }*/

    .col-s-3{
        width: 50%;
        padding-left: 2%;  
    }

    .col-s-9{
        width: 50%;
        padding-left: 1%;
    }
    .col-s-9 h6{
        padding-top: 1%;
        padding-left: 4%;
    }


    .col-s-12{
        width: 100%;
    }
    .col-s-12{
        padding: 4%;
        margin-top: 0.5%;
    }

        /*icons*/
    .skillsicon{
        width: 80px;
        height: 80px;
        padding: 4%;
    }

 

    img {
        max-width: 100%;
        height: auto;
    }

    body {
        background-color: darkslategrey;
      }

    #topContainer{
        padding-left: 3%;
    }  
}

/*For 1200px or above*/
@media only screen and (min-width: 900px) {

    .col-s-3{
        width: 30%;
    }


    .col-s-9{
        width: 50%;
        padding-left: 1%;
        padding-top: 2%;

    }
    .col-s-9 h6{
        padding-left: 3%;
    }


    .col-s-12{
        width: 100%;
    }

    .col-s-12{
        padding-left: 1%;
        margin-top: 0.5%;
    }
    
    /*icons*/
    .skillsicon{
        width: 235px;
        height: 220px;
        padding: 4%;
    }

    body {
        background-color: white;
      }
      
    #jumbo{
        padding-left: 8%;
    }
}

