a {
  color: #354358;
}

.sideMenu {
  background-color: whitesmoke;
  height: 100%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

  box-shadow: 0 0 10px skyblue;
  text-align: center;
  border-radius: 5px;
}
.profilePic {
  height: 210px;
  width: 220px;
  object-fit: cover;
  border-radius: 50%;
}

.side_icon {
  width: 25px;
  height: 25px;
}

.myName {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: large;
  font-family: "Roboto Mono", monospace;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ebebeb;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.side_file {
  padding-top: 20px;
  padding-bottom: 20px;
}

.side_location {
  padding-bottom: 20px;
}
.contact_item {
  padding-bottom: 10px;
}

.contact_item:hover {
  background-color: #e4e4e4;
}

.side_icon {
  margin-right: 5px;
}

.side_contacts {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ebebeb;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}

.side_emailme {
  padding-top: 20px;
  cursor: pointer;
}

@media (max-width: 990px) {
  .sideMenu {
    border-radius: 10px;
  }
}

@media (min-width: 991px) {
  .title {
    margin-left: 2px;
    margin-right: 2px;
    font-size: small;
  }

  .profilePic {
    height: 130px;
    width: 140px;
  }

  .side_contacts {
    margin-left: auto;
    margin-right: auto;
  }
}
