a {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Abel", sans-serif;
}

.sideMenu {
  background-color: #fff;
  height: 100%;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;

  box-shadow: 0 0 10px skyblue;
  text-align: center;
  border-radius: 20px;
}
.profilePic {
  margin-top: 20px;
  height: 310px;
  width: 320px;
  object-fit: cover;
  border-radius: 50%;
}

.side_icon {
  width: 25px;
  height: 25px;
}

#phoneIcon {
  cursor: pointer;
}

.myName {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: large;
  font-family: "Special Elite", cursive;
  color: rgba(0, 0, 0, 0.5);
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  font-family: "Abel", sans-serif;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
  color: rgba(0, 0, 0, 0.5);
}

.side_file {
  padding-top: 20px;
  padding-bottom: 20px;
}

.side_location {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Abel", sans-serif;
  /* padding-bottom: 20px; */
  font-size: 17.8px;
}
.contact_item {
  padding: 10px 10px 10px 10px;
}

.contact_item:hover {
  background-color: #e4e4e4;
  border-radius: 5px;
}

.side_icon {
  margin-right: 5px;
}

.fa-2x .side_contacts {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Abel", sans-serif;
  font-size: 17.8px;
}

.side_emailAndPhone {
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}
.side_emailAndPhone:hover {
  background-color: #e4e4e4;
  border-radius: 5px;
}

/* .fa-lg {
  margin-right: 10px;
} */

@media (max-width: 990px) {
  .sideMenu {
    border-radius: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 991px) {
  .title {
    margin-left: 2px;
    margin-right: 2px;
    font-size: small;
  }

  .profilePic {
    height: 170px;
    width: 180px;
  }

  .side_contacts {
    margin-left: auto;
    margin-right: auto;
  }
  .sideMenu {
    border-radius: 20px;

    height: 100%;
  }

  .side_emailme {
    padding-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .profilePic {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
