* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(to top, #274046, #ffffff);
  background-attachment: fixed;
}

.container {
  padding-top: 50px;
}

.row {
  height: 93vh;
}

@media (max-width: 990px) {
  .col-sm-12 {
    margin-bottom: 10px;
  }
}
