* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(to top, #274046, #ffffff);
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: #354548;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.appContainer {
  padding-top: 50px;
}

.appRow {
  height: 93vh;
  padding-bottom: 10px;
}

.app_main {
  background-color: whitesmoke;
  height: 100%;
  border-radius: 4%;
  padding: 25px 15px;
  box-shadow: 0 0 10px skyblue;
}

@media (max-width: 990px) {
  .app_side {
    height: auto;
  }

  .app_main {
    margin: 30px 0;
    height: auto;
  }
}

@media (min-width: 991px) {
  .app_side {
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
  }

  .app_main {
    height: auto;
  }
}
