.navbar_objects {
  display: flex;
}

.navbar_active {
  font-size: 1rem;

  color: rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid grey;
  font-family: "Abel", sans-serif;
}

.navbar_object {
  margin-right: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Abel", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

.navbar_object:hover {
  background: -webkit-linear-gradient(#00f260, #0575e6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation-fill-color: transparent;
}
